canvas {
  background: black;
  display: block;
  margin: 20px auto;
}
body {
  background: #111;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  text-align: center;
}
button {
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 50px;
  border:10px;
  background: #0f0;
  color:black;
}